# onde tao todas as depedencias 
node_modules/

#depedecias pra funcionar node_modules
package-lock.json
package.json
dist/

#variaveis de ambiente
.env

# arquivo de config do typescript
tsconfig.json

#arquivo so pra amasenar os dados 
data.json